# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv-*/
build/
dist/
wheels/
*.whl

# CMake / build
out/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json

# IDE
.vscode/
.idea/
*.code-workspace

# OS
Thumbs.db
.DS_Store

# Blender
*.blend1
*.blend2

# Extension build artifacts
*.zip
.blender_extension_build/

# PhysX packman cache
extern/PhysX/physx/bin/
extern/PhysX/physx/compiler/
extern/PhysX/physx/install/
